<a *ngIf="isLoggedIn">
  <app-content></app-content>
</a>
<mat-toolbar style="background-color: #ffac1a;" >
  <a  routerLink="/" ></a>
    <span class="example-spacer"></span>
    <div class="mr20" style=" overflow: hidden;">
      <!-- LogIn -->
      <a
      *ngIf="!isLoggedIn"
       [routerLink]="'/signup'" style="color:white" disabled="disabled">
        <button mat-button class="example-icon favorite-icon mr20" disabled>
          Register
        </button>
      </a>

      <a 
      *ngIf="!isLoggedIn"
      [routerLink]="'/login'"
        style="color:white">
        <button mat-button class="example-icon favorite-icon mr20">
          LogIn <mat-icon>login</mat-icon>
        </button>
      </a>

      <button mat-button class="example-icon favorite-icon mr20" [matMenuTriggerFor]="PersonalDetails" *ngIf="isLoggedIn"
      style="color:white"> 
        <mat-icon>account_circle</mat-icon>
        <span class="material-icons-outlined">
          {{login.getUser().email}}
          </span> 
      </button>
            <mat-menu #PersonalDetails="matMenu">
              <button mat-menu-item style="background-color: #ffac1a; color:white;" routerLink="/profile">Update Profile</button>
              <button mat-menu-item [matMenuTriggerFor]="Other_Details" style="background-color: #ffac1a;color:white;" disabled="disabled">Other Details</button>
            </mat-menu>
        <mat-menu #Other_Details="matMenu" disabled>
          <button mat-menu-item >Fishes</button>
          <button mat-menu-item >Amphibians</button>
          <button mat-menu-item >Reptiles</button>
          <button mat-menu-item>Birds</button>
          <button mat-menu-item>Mammals</button>
        </mat-menu>
      
      
      <!-- <a *ngIf="isLoggedIn"
       style="color:white">
        <button mat-button class="example-icon favorite-icon mr20">
          <mat-icon>account_circle</mat-icon>
          <span class="material-icons-outlined">
            {{login.getUser().username}}
            </span> 
        </button>
      </a> -->

      <a (click) = "loggout()"
      *ngIf="isLoggedIn"
      style="color:white">
        <button mat-button class="example-icon favorite-icon mr20">
        <mat-icon>logout</mat-icon>   Logout
        </button>
      </a>
    </div>
  </mat-toolbar>