.example-spacer {
    flex: 1 10 auto;
  }
  .example-container {
    width: 50px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: full;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }