<div class="ml9p card_sizer">
    <mat-card class="mt20 mr40">
        <h1 style="text-align: center;"><b>Your Profile Details</b></h1>
        <mat-card-content>
            <div class="bootstrap-wrapper">
                <div class="container">
                    <div class="container text-center">
                        <img src="https://www.pngarts.com/files/10/Default-Profile-Picture-PNG-Download-Image.png" 
                        alt="" 
                        class="profile_image"
                        />
                        <h2>Hi {{login.getUser().firstName}} {{login.getUser().lastName}} </h2> 
                    </div>
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                        <!-- Leaf node -->
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                          <button mat-icon-button disabled></button>
                          {{node.item}}
                        </mat-tree-node>
                      
                        <!-- expandable node -->
                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                          <button mat-icon-button
                                  [attr.aria-label]="'Toggle ' + node.item"
                                  (click)="loadChildren(node)"
                                  matTreeNodeToggle>
                            <mat-icon class="mat-icon-rtl-mirror">
                              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                          </button>
                          {{node.item}}
                        </mat-tree-node>
                      
                        <mat-tree-node *matTreeNodeDef="let node; when: isLoadMore">
                          <button mat-button (click)="loadMore(node.loadMoreParentItem)">
                            Load more...
                          </button>
                        </mat-tree-node>
                      </mat-tree>
                </div>
            </div> 
        </mat-card-content>  
    </mat-card>
</div>

