/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}


.text-center{
    text-align: center;
}
.full-width {
    width: 100%;
}
.ml8p{
    margin-left: 10% !important;
}
.ml9p{
    margin-left: 8.5% !important;
}
.mr40{
    margin-right: 40px !important;
}
.mr8p{
    margin-right: 0px !important;
}
.mt30{
    margin-top: 30px !important;
}
.ml20{
    margin-left: 20px !important;
}
.mr20{
    margin-right: 20px !important;
}
.mt20{
    margin-top: 20px !important;
}
.mb20{
    margin-bottom: 20px !important;
}
.ml10{
    margin-left: 10px !important;
}
.ml5{
    float: left;
}
.mr10{
    margin-right: 10px !important;
}
.mt10{
    margin-top: 10px !important;
}
.mb10{
    margin-bottom: 10px !important;
}

.ghost-round{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 1.4rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 2.5em;
    margin-top: auto;
    margin-bottom: 25px;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

.window{
    z-index: 100;
    color: #fff;
    font-family: Montserrat, sans-serif;
    position: relative;
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0 15px 50px 10px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    height: 560px;
    width: 360px;
    background: #fff;
    border-radius: 20px;
}

.overlay{
    background: -webkit-linear-gradient(#dba68c, #d693b9);
    background: linear-gradient(#dba68c, #d693b9);
    opacity: 0.85;
    filter: alpha(opacity=85);
    height: 560px;
    position: absolute;
    width: 360px;
    z-index: 1;
    border-radius: 10px;
}

.content{
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    flex-grow: 1;
    z-index: 5;
}

.containerX{
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; 
     /* background-image: ; */
    background-repeat:round;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    height: 100%;
} 

.input-fields {
    margin-top: auto;
    margin-bottom: auto;
}