<div class="ml8p" >
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row mt10" style="column-gap: 20px; height: 200px;">
                <mat-drawer-container class="col-md-4  example-container" style=" border-radius: 20px; max-width: 350px;" matRipple>
                    <div class="example-sidenav-content">
                        <button type="button" style="background-color: #ffac1a;" mat-button  (click)="drawer">
                         CA Results
                        </button>
                      </div>
                </mat-drawer-container>
                <mat-drawer-container #drawer class="col-md-4  example-container" style=" border-radius: 20px; max-width: 350px;" matRipple>
                    <div class="example-sidenav-content">
                        <button type="button" style="background-color: #ffac1a;" mat-button (click)="drawer">
                         Exam Results
                        </button>
                      </div>
                </mat-drawer-container>
                <mat-drawer-container class="col-md-4  example-container" style=" border-radius: 20px; max-width: 350px;" matRipple>
                    <div class="example-sidenav-content">
                        <button type="button" style="background-color: #ffac1a;" mat-button >
                          Programming Labs
                        </button>
                      </div>
                </mat-drawer-container>
            </div>
            <div class="row mt10" style="column-gap: 20px; height: 200px;">
                <mat-drawer-container class="col-md-4  example-container" style=" border-radius: 20px; max-width: 350px;" matRipple>
                    <div class="example-sidenav-content">
                        <button type="button" style="background-color: #ffac1a;" mat-button >
                          Courses
                        </button>
                      </div>
                </mat-drawer-container>
                <mat-drawer-container class="col-md-4  example-container" style=" border-radius: 20px; max-width: 350px;" matRipple>
                    <div class="example-sidenav-content">
                        <button type="button" style="background-color: #ffac1a;" mat-button >
                          Tools
                        </button>
                      </div>
                </mat-drawer-container>
            </div>
        </div>
    </div>
</div>