.sizer{
    display:flex;
    justify-content: flex-start;
    position: absolute;
}
.first-row{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.first-row div {
    flex-grow: 3;
    margin: 20px 8px;
    height: 10rem;
    border-radius: 5%;
    /* background-color: rgb(255, 106, 0); */
}
/* .first-row div+div {
    margin-top: 8px
} */

.example-ripple-container {
    cursor: pointer;
    text-align: center;
  
    width: 300px;
    height: 300px;
    line-height: 300px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  /** Styles to make the demo look better. */
  /* .example-ripple-checkbox {
    margin: 6px 12px 6px 0;
  }
  
  .example-ripple-form-field {
    margin: 0 12px 0 0;
  } */

  .grid-container{
      display: grid;
      column-gap: 5px;
      row-gap: 5px;
      /* grid-template-columns: 30px 30px 30px; */
  }

  .example-container {
    width: 400px;
    height: 200px;
    border-radius:20px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  /* .example-sidenav {
    padding: 20px;
  } */